.social {
  transition: transform 0.25s;
  width: 65px;
  height: 65px;
  filter: drop-shadow(4px 3px 4px rgb(0 0 0 / 0.4));
}

.social :hover {
  transform: scale(1.5);
}

.viberSocial {
  composes: social;
  fill: #774e98;
}

.telegramSocial {
  composes: social;
  fill: #37aee2;
}

.linkedinSocial {
  composes: social;
  fill: #006394;
}

.WhatsepSocial {
  composes: social;
}

.GitHubSocial {
  composes: social;
  fill: #000;

}